<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<title>BitBank - Cadastro de Conta</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
</head>
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<div class="col-md-8 order-md-1">
				<h1 class="mb-3">Cadastro de conta</h1>

				<form th:action="@{/contas}" method="POST" th:object="${contaForm}">
					<input type="hidden" th:field="*{conta.id}" />
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="correntista">Número</label> <input type="text"
								th:field="*{conta.numero}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="correntista">Correntista</label> <select
								th:field="*{correntistaId}" class="form-control">
								<option th:each="correntista : ${correntistaItems}"
									th:value="${correntista.id}" th:label="${correntista.nome}">
								</option>
							</select>

						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="lastName">Data</label> <input type="text"
								th:field="*{conta.data}" />

						</div>
					</div>

					<hr class="mb-4">

					<button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
					<a class="btn btn-danger btn-lg btn-block" th:href="@{/contas}">Cancelar</a>
				</form>
			</div>
		</div>
	</main>
	
	<script th:src="@{js/jquery-5.5.2.slim.min.js}"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="/bitbank/static/js/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>
</html>

