<!doctype html5>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<title>BitBank - Contas Cadastradas</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
</head>
<body>
	<main role="main" class="container">

		<div class="starter-template">
			<h1>Contas Cadastradas</h1>
			<hr />
			<form th:action="@{/contas/form}" method="GET">
				<button class="btn btn-primary" type="submit">Nova</button>
			</form>
			<br />
			<div th:text="${mensagem}" style="color: blue"></div>
			<br />

			<div th:if="${#lists.size(contas) > 0}">
				<div th:text="'Existem ' + ${#lists.size(contas)} + ' registros.'"></div>
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Número</th>
							<th>Correntista</th>
							<th style="text-align: center;">Data abertura</th>
							<th>Operações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="conta : ${contas}">
							<td><a th:href="@{/contas/{id}(id=${conta.id})}"
								th:text="${conta.numero}"></a></td>
							<td><span th:text="${conta.correntista.nome ?: 'Anônimo'}"></span></td>

							<td th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"
								style="text-align: center;" />
							<td><a class="btn btn-outline-primary btn-sm"
								th:href="@{/contas/{id}/delete/(id=${conta.id})}"> <img
									th:src="@{/icons/trash.svg}" title="Excluir conta"
									alt="Excluir conta" />
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>
