<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<meta th:insert="~{fragments/headerinc :: head}"/>

<title>BitBank - Transações de uma conta</title>
</head>
<body>
	
	<div th:insert="~{fragments/navigation :: menu}"></div>
	
	<main role="main" class="container">

		<div class="starter-template">
			<h1>Transações da conta</h1>
			<hr />
			
			<div class="alert alert-primary" role="alert"
				th:if="${mensagem != null}">
				<span th:text="${mensagem}" style="color: blue"></span>
			</div>
			
			
			<ul class="list-group list-group-flush">
  				<li class="list-group-item">Conta: <span th:text="${conta.numero}"></span></li>
  				<li class="list-group-item">Correntista: <span th:text="${conta.correntista.nome}"></span></li>
  				<li class="list-group-item">Data abertura: <span th:text="${#dates.format(conta.data, 'dd/MM/yyyy')}"></span></li>
  			</ul>
  			
  			<div style="margin-bottom: 30px;"> </div>
			
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Descricao</th>
						<th>Data</th>
						<th style="text-align: right">Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transacao : ${conta.transacoes}">
						<td th:text="${transacao.descricao}" />
						<td th:text="${#dates.format(transacao.data, 'dd/MM/yyyy')}" />
						<td th:text="${#numbers.formatCurrency(transacao.valor)}" style="text-align: right"/>
					</tr>
					<th style="font-weight:bold; background-color: darkgray;" colspan="2">Total</th>
					<td style="font-weight:bold; background-color: darkgray;text-align: right" 
						th:text="${#numbers.formatCurrency(conta.saldo)}"></td>
				</tbody>
			</table>
		</div>
	</main>
	<div th:insert="~{fragments/footerinc :: foot}"></div>
</body>
</html>