<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt_BR">
<meta http-equiv="Content-Type" content="text/html" />
</head>
<body>
	<div class="container">
		<div th:fragment="menu">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
				<a class="navbar-brand" href="#">Menu</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarsExampleDefault"
					aria-controls="navbarsExampleDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/home}">Início<span class="sr-only">'</span>
						</a></li>
						<li class="nav-item dropdown"
							th:if="${session.usuario != null and session.usuario.admin}"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contas</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/contas/form}">Cadastro</a>
								<a class="dropdown-item" th:href="@{/contas}">Listagem</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operações</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/contas/operacao}">Crédito/Débito</a>
							</div></li>
						<li class="nav-item dropdown"
							th:if="${session.usuario != null and session.usuario.admin}"><a
							class="nav-link dropdown-toggle" href="#" id="dropdown01"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Correntistas</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" th:href="@{/correntistas/form}">Cadastro</a>
								<a class="dropdown-item" th:href="@{/correntistas}">Listagem</a>
							</div></li>
					</ul>
					<form th:action="@{/login/out}" class="form-inline my-2 my-lg-0">
						<span th:if="${session.usuario != null}"> <span
							th:text="${session.usuario.nome}"
							style="margin-right: 15px; color: lightgray;"></span>
						</span>
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Sair</button>
					</form>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>