body {
	font-family: Calibri !important;
	font-size: 1.0em !important;
	padding-top: 5rem;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.starter-template {
  padding: 3rem 1.5rem;
}

.titulo {
	font-size: 1.5rem;
	background-color: #ededed;
	margin: 5px 0 40px 0;
}

.label {
	margin: 5px 0px 2px 0px;
	display: flex;
}

.submit-button {
	margin: 5px 0px 2px 0px;
}

.icon-space {
	margin: 2px 5px 2px 5px;
}

.columnCenter {
	text-align: center;
}

.columnRight {
	text-align: right;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}