<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página Inicial da Aplicação</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
</head>
<body>

	<main role="main" class="container">
		<div class="centered starter-template">
			<div class="col-md-16 order-md-1">
				<img class="mb-4" th:src="@{imagens/bitbank-logo.png}" width="50%" height="auto">
				<h2 class="mb-3">Operações implementadas</h2>

				<ul class="list-group">
					<li class="list-group-item"><a th:href="@{/populate}">Cadastrar
							correntistas</a></li>
					<li class="list-group-item"><a th:href="@{/correntistas}">Correntistas
							cadastrados</a></li>
					<li class="list-group-item"><a th:href="@{/contas}">Contas
							cadastradas</a></li>
				</ul>

			</div>
		</div>
	</main>

</body>
</html>