<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<meta th:insert="~{fragments/headerinc :: head}"></meta>
<link th:href="@{css/signin.css}" rel="stylesheet">
</head>
<body class="text-center" style="background-color: #565656;">

	<form class="form-signin" th:action="@{/login}" method="POST"
		th:object=${usuario}>
		<div class="centered">
			<img class="mb-4" th:src="@{imagens/bitbank-logo.png}" alt="">
			<h1 class="h3 mb-3 font-weight-normal autentique">Por favor, autentique-se</h1>

			<div th:if="${not #strings.isEmpty(mensagem)}"
				th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
				class="alert alert-danger alert-dismissible fade show" role="alert">

			</div>

			<label for="email" class="sr-only">Email</label> <input type="email"
				class="form-control input-login" placeholder="Email" required autofocus
				th:field="*{email}" > <label for="senha" class="sr-only">Senha</label>

			<input type="password" class="form-control input-login" placeholder="Senha"
				required th:field="*{senha}">

			<div class="checkbox mb-3">
				<label> <input type="checkbox" value="lembrar" >
					Lembrar-me
				</label>
			</div>
			<button class="btn btn-lg btn-block" type="submit" style="background-color: #b6b6b6;">Entrar</button>
		</div>
	</form>

	<div th:insert="~{fragments/footerinc :: foot}"></div>
</body>
</html>
