<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BitBank - Cadastro de Correntistas</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
</head>
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<div class="col-md-8 order-md-1">
				<h1 class="mb-3">Cadastro de conta</h1>

				<div th:text="${mensagem}" style="color: red"></div>

				<form th:action="@{/correntistas/save}" method="POST"
					th:object="${correntista}">
					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Nome</label> 
							<input type="text" th:field="*{nome}" /><br />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Senha</label> 
							<input type="password" th:field="*{senha}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Email</label> 
							<input type="text" th:field="*{email}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label class="form-check-label" for="admin-cb">É administrador</label>
							<input id="admin-cb" type="checkbox" th:field="*{admin}" class="form-check-input" style="margin-left: 10px;"/>
						</div>
					</div>
					
					<hr class="mb-4">
					
					<input type="submit" value="Salvar"
						class="btn btn-primary btn-lg btn-block" />

					<a class="btn btn-danger btn-lg btn-block" th:href="@{/correntistas}">Cancelar</a>
				</form>
			</div>
		</div>
	</main>
</body>
<script th:src="@{js/jquery-5.5.2.slim.min.js}"></script>
<script>
		window.jQuery
				|| document
						.write('<script src="/bitbank/static/js/jquery.slim.min.js"><\/script>')
	</script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</html>

