<html xmlns:th="www.thymeleaf.org">
<head>
<title>BitBank - Cadastro de Correntista</title>
<meta th:insert="fragments/headerinc :: head"></meta>
</head>
<body>
	<div th:insert="fragments/navigation :: menu"></div>

	<main role="main" class="container">
		<div class="starter-template">
			<div class="col-md-8 order-md-1">
				<h1 class="mb-3">Cadastro de correntista</h1>

				<div th:text="${mensagem}" style="color: red"></div>

				<form th:action="@{/correntistas/save}" method="POST"
					th:object="${correntista}">
					<input type="hidden" th:field="*{id}" />
					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Nome</label> <input type="text" th:field="*{nome}" /><br />
							<p th:if="${#fields.hasErrors('nome')}" th:errorclass="error"
								th:errors="*{nome}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Senha</label> <input type="password" th:field="*{senha}" />
							<p th:if="${#fields.hasErrors('senha')}" th:errorclass="error"
								th:errors="*{senha}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Email</label> <input type="text" th:field="*{email}" />
							<p th:if="${#fields.hasErrors('email')}" th:errorclass="error"
								th:errors="*{email}" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label class="form-check-label" for="admin-cb">É
								administrador</label> <input id="admin-cb" type="checkbox"
								th:field="*{admin}" class="form-check-input"
								style="margin-left: 10px;" />
						</div>
					</div>

					<hr class="mb-4">

					<div class="row">
						<div class="col-md-3 mb-3">
							<input type="submit" value="Salvar"
								class="btn btn-primary btn-md btn-block" /> <a
								class="btn btn-danger btn-md btn-block"
								th:href="@{/correntistas}">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>
	<div th:replace="fragments/footerinc :: foot"></div>
</body>
</html>

