<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Correntistas</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
</head>
<body>
	<main role="main" class="container">

		<div class="starter-template">
			<h1>Correntistas Cadastrados</h1>
			<hr />

			<form th:action="@{/correntistas/form}" method="GET">
				<button class="btn btn-primary" type="submit">Novo</button>
			</form>
			<br />

			<div th:text="${mensagem}" style="color: blue"></div>
			<br />

			<div th:if="${#lists.size(correntistas) > 0}">
				<div th:text="'Existem ' + ${#lists.size(correntistas)} + ' registros.'"></div>
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Admin</th>
							<th>Operações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="correntista : ${correntistas}">
							<td th:text="${correntista.nome}"></td>
							<td th:text="${correntista.email}"></td>
							<td th:text="${correntista.admin}"></td>
							<td><a class="btn btn-outline-primary btn-sm"
								th:href="@{/correntistas/{id}/delete/(id=${correntista.id})}">
									<img th:src="@{/icons/trash.svg}" title="Excluir correntista"
									alt="Excluir correntista" />
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>
</html>
